ul,ol {
  list-style: none; 
}

.menu li a{
  text-decoration: none;
  padding: 10px 90px;
  display: block;
  background: #D0EAF2;
  border-radius: 80px;
  border: 3px solid #6EBFF8;
  
}

.menu > li{
  float: left;
}
.paginados{
  color: black;
  border: 3px solid #6EBFF8;
  padding-left: 0px;
  margin-top: 10px;
  margin-right: 350px;
  margin-bottom: 10px;
  margin-left: 350px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 15px;
  background: #D0EAF2;
  padding-top:0px;
  border-radius: 50px;

}
.formulario{
  color: black;
  border: 3px solid #80FDEF;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 350px;
  margin-bottom: 30px;
  margin-left: 350px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 15px;
  background: #D0EAF2;
  padding-top:10px;
  border-radius: 50px;

}
